body {
    background-color: darkcyan;
    height: 100%;
    overflow-x: hidden;
}
h1 {
    margin-top: 50px;
    color: white;
    font-size: 3em;
    text-align: center;
}
#rekenmachine {
    position:absolute;
    left: -2000px;
    height: 250px;
}
#afstandenplaneten {
    margin-left: 1%;
    position:absolute;
    left: 3000px;
    height: 250px;
}
div {
    width: 50%;
	background-color: #1F7371;
    text-align: center;
    border: 5px solid white;
    border-radius: 2em;
	color: white;
    box-shadow: 10px 10px 5px #0E3635;
}
article {
    margin-top: 100px;
    width: 49%;
    position: absolute;
    left: 25%;
    right: 25%;
}

#linkafst {
	cursor: pointer;
	line-height: 235px;
}
#linkrek {
	cursor: pointer;
	line-height: 235px;
}